.baseline-grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.row-guide {
  margin-top: 8px;
}

.row-guide,
.row-guide:before,
.row-guide:after {
  height: 8px;
  width: 100%;
  background-color: rgba(0,255,155,.2);
}