
@media screen and (min-width: 304px) {
	:root {
		--sp_gutter: 16px;
		--sp_margin: 16px;
	}
}

@media screen and (min-width: 768px) {
	:root {
		--sp_gutter: 24px;
		--sp_margin: 24px;
	}
}

@media screen and (min-width: 1280px) {
	:root {
		--sp_gutter: 32px;
		--sp_margin: 32px;
	}
}

@media screen and (min-width: 1800px) {
	:root {
		--sp_gutter: 40px;
		--sp_margin: 40px;
	}
}

@media screen and (min-width: 2400px) {
	:root {
		--sp_gutter: 48px;
		--sp_margin: 48px;
	}
}

/* Baseline Grid */
:root {
	--sp_baseline: 16px;
}

body {
	background-color: #f7f7f7;
}

.spectrum-grid,
.spectrum-grid--fixed {
	display: grid;
	grid-column-gap: var(--sp_gutter);
	grid-row-gap: 0;
	grid-template-columns: repeat(12, 1fr);
	margin: 0;
	padding: 0 var(--sp_margin);
	grid-auto-rows: minmax(var(--sp_baseline), auto);
	align-content: start;
}

.spectrum-grid--fixed {
	max-width: 1200px;
	margin: 0 auto;
}

.spectrum-grid > div:not(.grid-guide):not(.shell),
.spectrum-grid--fixed > div:not(.grid-guide):not(.shell) {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 160, 255,.5);
  padding: var(--sp_baseline) 0;
  background-color: rgba(0,160,255,.25);
}

.shell {
	grid-column: 1 / 13;
	grid-row: 1;
	margin-left: calc(var(--sp_gutter) * -1);
	margin-right: calc(var(--sp_gutter) * -1);
	padding: var(--sp_baseline);
	background-color: rgba(0,160,255,.25);
}

.page-title {
	grid-column: 1 / 7;
	grid-row: 1;
}

.actions {
	grid-column: 7 / 13;
	grid-row: 1;
}

.search-filters {
	grid-column: 1 / 7;
	grid-row: 2;
}

.bulk-actions {
	grid-column: 7 / 13;
	grid-row: 2;
}

.table {
	grid-column: 1 / 13;
	grid-row: 3;
	margin-left: calc(var(--sp_gutter) * -1);
	margin-right: calc(var(--sp_gutter) * -1);
	padding: var(--sp_baseline) !important;
}

@media screen and (min-width: 768px) {
	.table {
		margin: 0;
		padding: var(--sp_baseline) 0 !important;
	}
}
