/* Styling for sake of styles */

.grid-guide {
	grid-row: 1 / 10;
	background-color: rgba(255, 0, 0, 0.05);
	z-index: 200;
}

.grid-guide:nth-of-type(1) {grid-column: 1;}
.grid-guide:nth-of-type(2) {grid-column: 2;}
.grid-guide:nth-of-type(3) {grid-column: 3;}
.grid-guide:nth-of-type(4) {grid-column: 4;}
.grid-guide:nth-of-type(5) {grid-column: 5;}
.grid-guide:nth-of-type(6) {grid-column: 6;}
.grid-guide:nth-of-type(7) {grid-column: 7;}
.grid-guide:nth-of-type(8) {grid-column: 8;}
.grid-guide:nth-of-type(9) {grid-column: 9;}
.grid-guide:nth-of-type(10) {grid-column: 10;}
.grid-guide:nth-of-type(11) {grid-column: 11;}
.grid-guide:nth-of-type(12) {grid-column: 12;}
